.div-main{
    height: 90vh;
    display: flex;
    justify-content: space-around;
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 100px;
    
    }
    
    .div-secundary{
        height: 90vh;
        display: flex;
        justify-content: space-around;
    
    }



    